$blue-dark: #1C2541;

body {
  background-color: #efefef;
  font-family: 'Work Sans';
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 26px;
  margin-top: 1.5em;
  margin-bottom: 0;
}

p {
    line-height: 1.35em;
}


pre {
    display: block;
    background: $blue-dark;
    width: 90%;

  }
code {
    font-family: "Anonymous Pro",courier;
    background: $blue-dark;
    font-size: 1.25rem;
    color: #ffffff;
    padding: 0 3px;
  }
